@font-face {
    font-family: albula;
    src: url(Fonts/Albula-Light.ttf);
}

body {
    background-image: linear-gradient(100deg, #52E5E7 5%, #130CB7 100%);
    font-family: albula, helvetica;
    margin: 0;
    height: 100%;
    overflow: hidden
}

.image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.base64image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}